body{
    background-color: #050505;
    padding: 0%;
    margin: auto;
}

.header{
    background-color: rgb(14, 14, 14);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: rgb(141, 141, 141);
}

.headerLeftItems{
    margin-left: 200px;
    display: flex;

}

.logo{
    height: 45px;
    width: 45px;
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.headerTitle{
    color: rgb(230, 230, 230);
    font-family: 'Geom Graphic';
    font-size: 30px;
    font-weight: 500;
    line-height: 100px;
}

.menu{
    width: auto;
    height: 50px;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: flex-start;
    padding-left: 200px;
    align-items: center;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: rgb(141, 141, 141);
}


.menuLink{
    font-family: 'Geom Graphic';
    font-weight: 500;
    background: -webkit-linear-gradient(#ffffff, #949494);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 15px;
    margin-right: 50px;
    
}