body{
    background-color: #050505;
    padding: 0%;
    margin: auto;
}

.header{
    background-color: rgb(14, 14, 14);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: rgb(141, 141, 141);
}

.headerLeftItems{
    margin-left: 50px;
}

.headerTitle{
    color: aliceblue;
    font-family: 'Pixeboy';
    font-size: 30px;
}

.menu{
    width: auto;
    height: 50px;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: rgb(141, 141, 141);
}


.menuLink{
    font-family: 'Pixeboy';
    color: rgb(230, 230, 230);
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}